@charset 'UTF-8';

/*
Tipos de format()

opentype (otf)
truetype (ttf)
embedded-opentype ()
truetype-aat (Apple Advanced Typography)
svg
*/


footer a {
    text-decoration: none;
}

footer a:hover {
    color: red;
    text-decoration: underline;
}